<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /UzduociuTvarkykle
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /UzduociuTvarkykle/index.php [L]
</IfModule>